
body,html{
    background-color: #fff;
    font-size: 13px;
}

a{
    color: #000;
}

.container{
    max-width: 750px;
}

.content{
    flex-direction: column;
}

.carousel-inner{
    border-radius: 0.365rem !important;
}

.carousel-indicators [data-bs-target]{
    border-top:0;
    border-bottom:0;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.breadcrumb-item + .breadcrumb-item::before{
    content:var(--bs-breadcrumb-divider, ">") /* rtl: var(--bs-breadcrumb-divider, ">") */  
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
